.bootScreen {
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: #111;
  z-index: 1000;
  animation: hideafter .25s linear 5s forwards;
}

.boot {
  font-family: monospace;
  font-size: 12px;
  position: absolute;
  left: 50px;
  bottom: 0;
  color: white;
  animation: hideafter .15s linear 1s forwards;
}

.logo {
  scale: .5;
  position: fixed;
  opacity: 0;
}



.logo.white {
  animation: reveal forwards .25s 1.5s, glitchW 1s linear forwards 3.3s;
}

.logo.magenta {
  animation: reveal forwards .25s 1.5s, glitchM 1s linear forwards 3.3s;
  filter: sepia(1) hue-rotate(-90deg) saturate(100);
}

.logo.cyan {
  animation: reveal forwards .25s 1.5s, glitchC 1s linear forwards 3.3s;
  filter: sepia(1) hue-rotate(90deg) saturate(100);
}

/* Phones ----------- */
@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 480px) {
  .logo{
    scale: .3;
  }

  .boot{
    left: 10px;
    font-size: 10px;
  }
}
/* Tablet (landscape) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : landscape) {

}

/* Tablet (portrait) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : portrait) {

}


@keyframes reveal {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes hideafter {
  to {
    opacity: 0;
    visibility: hidden;
  }
}

@keyframes glitchW {
  0% {
    opacity: 1;
  }

  2%,
  70% {
    transform: translate(10%, 0) skew(15deg);
  }

  12%,
  60% {
    transform: translate(-10%, 0) skew(0deg);
  }

  50% {
    transform: translate(0, 0) skew(0deg);
  }

  55%,
  65% {
    transform: translate(4%, 0) skew(40deg);
  }

  90% {
    transform: translate(-10%, 0) skew(-60deg);
  }

  95% {
    transform: translate(0px, 0) skew(75deg);
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@keyframes glitchM {
  0% {
    opacity: 1;
  }

  2%,
  70% {
    transform: translate(13%, 0) skew(10deg);
  }

  12%,
  60% {
    transform: translate(-13%, 0) skew(-6deg);
  }

  50% {
    transform: translate(0, 0) skew(5deg);
  }

  55%,
  65% {
    transform: translate(8%, 0) skew(15deg);
  }

  90% {
    transform: translate(-13%, 0) skew(-50deg);
  }

  95% {
    transform: translate(0px, 0) skew(72deg);
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@keyframes glitchC {
  0% {
    opacity: 1;
  }

  2%,
  70% {
    transform: translate(7%, 0) skew(20deg);
  }

  12%,
  60% {
    transform: translate(-7%, 0) skew(-2deg);
  }

  50% {
    transform: translate(0, 0) skew(-2deg);
  }

  55%,
  65% {
    transform: translate(4%, 0) skew(30deg);
  }

  90% {
    transform: translate(-7%, 0) skew(-70deg);
  }

  95% {
    transform: translate(0px, 0) skew(82deg);
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}