.Intro {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80vh;
}

.Intro p,
h1,
h2,
span {
  margin: 0;
  padding: 0;
}

.Intro h2 {
  margin-top: 0;
  font-weight: 400;
  font-size: 100%;
}

.Intro h3 {
  font-weight: 400;
  font-size: 100%;
  margin-top: 0;
}

.Intro .left {
  width: 50%;
  animation: upreveal .25s backwards var(--delay);
}

.Intro .right {
  margin-right: -15%;
  margin-top: 50%;
  width: 50%;
  animation: upreveal .25s backwards var(--delay);
}

.Intro .multitextBox {
  margin-left: 10%;
}

/* Phones ----------- */
@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 480px) {
  .Intro {
    display: block;
    margin-top: 100px;
    margin-left: 0;
    margin-right: 0;
    padding: 5%;

    width: 100vw;
    box-sizing: border-box;
    overflow-x: hidden;
  }

  .Intro .right{
    margin-left: 0;
    margin-right: 0;
    margin-top: 65%;
    width: 100%;
  }

  .Intro .left{
    margin-top: 20%;

    margin-left: 0;
    margin-right: 0;
    width: 100%;
  }

  .Intro .multitextBox span{
    position: absolute;
    left:0;
    right:0;
    margin: auto;
    text-align: center;
  }
}
/* Tablet (landscape) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : landscape) {
/* Styles */
}

/* Tablet (portrait) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : portrait) {
  .Intro {
    display: block;
    margin-left: 0;
    margin-right: 0;
    padding: 5%;

    width: 100vw;
    box-sizing: border-box;
  }

  .Intro .right{
    margin-left: 0;
    margin-right: 0;
    margin-top: 35%;
    width: 100%;
  }

  .Intro .left{
    margin-top: 20%;
    margin-left: 0;
    margin-right: 0;
    width: 100%;
  }

  .Intro .multitextBox span{
    position: absolute;
    left:0;
    right:0;
    margin: auto;
    text-align: center;
  }
}



@keyframes upreveal {
  from {
    translate: 0 20px;
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}