.ReachOut{
    text-align: center;
    margin-bottom: 35vh;
    margin-top: 15vh;

}

.ReachOut p{
    margin: 75px 0;
    line-height: 150%;
}

.buttonBox{
    margin: 50px auto 0 auto;
    display: flex;
    justify-content:space-evenly;
    width:50%;
}

/* Phones ----------- */
@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 480px) {
    .buttonBox{
        margin: 0 auto 0 auto;
        justify-content:space-between;
        width:100%;
    }

    .ReachOut .button{
        width: auto;
        margin: 10px;
    }
    .ReachOut p{
        padding: 0 5px
    }
    
    
}
/* Tablet (landscape) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : landscape) {

}

/* Tablet (portrait) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : portrait) {
    .buttonBox{
        margin: 0 auto 0 auto;
        width:100%;
    }

    .ReachOut .button{
        width: auto;
        margin: 10px;
    }
}