
.titleSection{
    display: flex;
    justify-content: space-evenly;
    width: 90%;
    margin: auto;
}

.bar{
    background-color: var(--w);
    height: 2px;
    margin: auto;
    min-width: 30%;
    width: auto;
    max-width: 60%;
}

/* Phones ----------- */
@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 480px) {
    .bar{
        min-width: 22%;
    }
}

/* Tablet (landscape) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : landscape) {
/* Styles */
}

/* Tablet (portrait) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : portrait) {
/* Styles */
}
