
.titleSection{
    display: flex;
    justify-content: space-evenly;
    width: 75%;
    margin: auto;
}

.bar{
    background-color: var(--w);
    height: 2px;
    margin: auto;
    min-width: 30%;
    width: auto;
    max-width: 60%;
}