
.AboutMe{
    
}

.AboutMe article{
    
    text-align: justify;
    font-size: 22px;
    width: 1200px;
    margin: 50px auto;

}


.meImage{
    position:relative;
    float: right;
    width: 350px;
    height: 350px;
    padding: 0 100px;
    left: 100px;
    top: 25px;
    
}

.meImage img{
    position: absolute;
    width: 350px;
    height: 350px;
    margin: 0;
    filter: grayscale(.4);

    transition: all .25s;
}


.meImage .back{
    position: absolute;
    width: 350px;
    height: 350px;
    margin: 0;
    opacity: .75;
    transition: all .25s;
}

.meImage .back.m{
    background-color: var(--m);
}
.meImage .back.c{
    background-color: var(--c);
}

.meImage:hover img{
    filter: grayscale(0);
    scale: 1.05;
}

.meImage:hover .back{
    scale: 1.05;
}

.meImage:hover .back.m{
    translate: 15px 15px;
}

.meImage:hover .back.c{
    translate: -15px -15px;
}
