.AboutMe{
    min-height: 450px;
}

.AboutMe article{
    text-align: left;
    width: 72%;
    margin: auto;
    word-wrap: break-word;
}

.AboutMe span:not(.glitchLine ){
    font-weight: bolder;
    font-size: 1.1em;
    cursor: pointer;
    text-decoration: underline;
    color: var(--c);
}

.AboutMe span:not(.glitchLine):hover{
    color: var(--m);
}



.meImage {
    position:relative;
    float: right;
    width: 350px;
    height: 350px;
    object-fit: cover;
    margin: -7px 0 auto 150px;
    filter: grayscale(.4);

    transition: all .25s, box-shadow .4s;
    
}

.meImage:hover{
    filter: grayscale(0);
    scale: 1.1;
    box-shadow: 15px 15px var(--m), -15px -15px var(--c);
}

