.AboutMe{
    min-height: 450px;
}

.AboutMe article{
    text-align: left;
    width: 40%;
    word-wrap: break-word;
}

.AboutMe span:not(.glitchLine ){
    font-weight: bolder;
    font-size: 1.1em;
    cursor: pointer;
    text-decoration: underline;
    color: var(--c);
}

.AboutMe span:not(.glitchLine):hover{
    color: var(--m);
}

.AboutMe .flex{
    position: relative;
    display: flex;
    justify-content: space-evenly;
}

.meImage {
    position: relative;
    width: 350px;
    height: 350px;
    object-fit: cover;
    object-position: 0px -18px;
    filter: grayscale(.4);
    margin-top: 7.5vh;

    transition: all .25s, box-shadow .4s;
    
}

.meImage:hover{
    filter: grayscale(0);
    scale: 1.1;
    box-shadow: 15px 15px var(--m), -15px -15px var(--c);
}

/* Phones ----------- */
@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 480px) {

    .AboutMe .flex{
        flex-direction: column;
        margin: auto;
        min-height: fit-content;
    }

    .AboutMe article{
        width: 95vw;
        position: relative;
        padding: 0 5%;
        box-sizing: border-box;
    }

    .meImage{
        width: 70vw;
        height: 70vw;
        margin: 50px auto 35px auto;

        overflow:visible;


        filter: grayscale(0);
        box-shadow: 10px 10px var(--m), -10px -10px var(--c);

    }
}

/* Tablet (portrait) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : portrait) {
    .AboutMe .flex{
        flex-direction: column;
        margin: auto;
    }

    .AboutMe article{
        width: 85vw;
        position: relative;
        padding: 2.5vw;
        box-sizing: border-box;
    }

    .meImage{
        
        margin: 50px auto 35px auto;
        filter: grayscale(0);
        box-shadow: 10px 10px var(--m), -15px -10px var(--c);
    }
}
