nav{
    width: 100%;
    padding: 3px 0 3px 0;;
   
    position: fixed;
    display: flex;
    justify-content: space-between;
    top:0;

    user-select: none;
    z-index: 400;

    background-color: var(--background-color);

    animation: downreveal .5s ease var(--delay) backwards;
}

nav ul{
    text-decoration: none;
    display: flex;
    margin-right: 100px;
}

nav li{
    list-style: none;
    margin: 0 25px;
    padding: 3px 10px;
    cursor: pointer;
    transition: all .1s;
    font-weight: 600;
}

.logoBox{
    scale: 0.085;
    margin-top: -40px;
    margin-left: 50px;
    z-index: 100;
}

.logoMini{
    position:absolute;
    top:0;
  }
  
.logoBox:hover .white{
animation: glitchW 1s linear infinite;
}
.logoBox:hover .magenta{
animation: glitchM 1s linear infinite;
filter: sepia(1) hue-rotate(-90deg) saturate(100);
}

.logoBox:hover .cyan{
animation: glitchC 1s linear infinite;
filter: sepia(1) hue-rotate(90deg) saturate(100);
}


@keyframes downreveal {
    from{
        translate: 0 -20px;
        opacity: 0;
      }
    
      to{
        opacity: 1;
      }
}