nav{
    width: 100vw;
    padding: 3px 0 3px 0;
    height: 10vh;
   
    position: fixed;
    display: flex;
    justify-content: space-between;
    top:0;
    left:0;

    user-select: none;
    z-index: 400;

    background-color: var(--nav-color);
    backdrop-filter: blur(12px);

    animation: downreveal .5s ease var(--delay) backwards;
}

nav ul{
    position: absolute;
    right: 5%;
    margin: 2vh auto;
    text-decoration: none;
    display: flex;
}

nav li{
    list-style: none;
    margin: 1vh 1.5vw;
    padding: 1vh 10px;
    width: fit-content;
    cursor: pointer;
    transition: all .1s;
    font-weight: 600;
}

.logoBox{
    scale: 0.095;

    margin-left: 50px;
    z-index: 100;
    cursor: pointer;
}

.logoMini{
    position:absolute;
    top:0%;
    bottom: 0%;
    margin: auto;
  }
  
.logoBox:hover .white{
animation: glitchW 1s linear infinite alternate;
}
.logoBox:hover .magenta{
animation: glitchM 1s linear infinite alternate;
filter: sepia(1) hue-rotate(-90deg) saturate(100);
}

.logoBox:hover .cyan{
animation: glitchC 1s linear infinite alternate;
filter: sepia(1) hue-rotate(90deg) saturate(100);
}

/* Phones ----------- */
@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 480px) {
    nav{
        visibility: hidden;
    }
}

/* Tablet (portrait) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : portrait) {

    
}




@keyframes downreveal {
    from{
        translate: 0 -20px;
        opacity: 0;
      }
    
      to{
        opacity: 1;
      }
}