@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
@import url("./color.css");

.App{
  display: flex;
  color: white;
  align-items: center;
}

.center{
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

main{
  width: 1200px;
  margin: auto;
}

.content{
  margin: 0 0;
  font-size: 18px;
  font-family:  Arial, Helvetica, sans-serif;
}

.intro{
  display: flex;
  justify-content:space-between;
  align-items: center;
  height: 100vh;
}

.intro p,h1,h2,span{
  margin-top: 5px;
  margin-bottom: 0;
  padding:0;
}

.intro h1{
  font-weight: 400;
  font-size: 72px;
}

.intro h2{
  font-weight: 400;
  font-size: 24px;
}

.intro h3{
  font-weight: 400;
  font-size: 20px;
}

.intro .left{
  width: 600px
}

.intro .right{
  text-align: right;
  width: 600px
}

#name{
  font-size: 92px;
  font-family: 'Roboto', monospace;
  font-weight: 700;

  color: var(--lightgreen)

}

#dev{
  font-family: 'Roboto', monospace;
  font-weight: 700;

  color: var(--darkgreen)
}


#multitextBox{
  margin-top: 25px;
  overflow: hidden;
  height: 78px;
  width: 100%;
  color: var(--darkgreen);
}

#multitext{
  font-size: 58px;
  font-family: 'Roboto', monospace;
  font-weight: 700;
}

.goingTop{
  animation: midtotop .33s linear forwards 2s;
}
.goingMid{
  animation: bottomtomid .33s linear forwards;

}

.wait{
  animation: midtotop .5s linear forwards 10s
}

@keyframes midtotop {
  from{
    translate: 0 0;
  }
  to{
    translate: 0 -100px;
  }
}

@keyframes bottomtomid {
  to{
    translate: 0 0;
  }
  from{
    translate: 0 100px;
  }
}


.sidebar{
  position: fixed;
  display: flex;
  flex-direction: column;

  bottom: 0;
  left: 50px;
}

.sidebar .icon{
  width: 25px;
  height: 25px;
  padding: 5px;
  margin: 10px 0;
  cursor: pointer;;

  filter: invert(.65);
  transition: all .25s;
}

.sidebar .icon:hover{
  scale: 1.2;
  filter: invert(.85);
  translate: 0 -5px;
  transition: all .25s;
}

.sidebar hr{
  height: 150px;
}

.aboutMe{
  margin-top: 25vh;
  height: 75vh;
}