@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
@import url("./color.css");

.App{
  display: flex;
  color: white;
  align-items: center;

  
}

.middle{
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

main{
  width: 1400px;
  margin: auto;
  
}

.content{
  margin: 0 0;
  font-size: 18px;
  font-family:  Arial, Helvetica, sans-serif;

  margin-bottom: 30vh;
}

p{
  line-height: 25px;
}


