:root{
    --background-color: #252629;
    --background-color-light:#474a50;
    --nav-color: #252629ca;

    --font-color: white;

    --w: rgb(255,255,255);
    --c: rgb(0,255,255);
    --m: rgb(255,0,255);
}