
.projectHolder{
    width: 88%;
    margin: auto;
    position: relative;
    display: flex;
    justify-content:space-between;
    align-items: center;
    
}

.project{
    height: 600px;
    width: 28%;

    border: white 3px solid;

    cursor: pointer;
    user-select: none;
    scale: 1;
    transition: scale .15s, box-shadow .5s;
}

.project:hover{
    scale: 1.05;
}

.project:hover:nth-child(1){
    box-shadow: 10px 10px var(--m), -10px -10px var(--c);
}

.project:hover:nth-child(2){
    box-shadow: 10px -10px var(--m), -10px 10px var(--c);
}

.project:hover:nth-child(3){
    box-shadow: -10px -10px var(--m), 10px 10px var(--c);
}

.project h1{
    text-align: center;
    color: white;
    margin: 15px 0 25px 0;
}

.project img{
    width: 100%;
    height: 50%;

    object-fit:cover;
}

.project aside{
    position: absolute;
    word-wrap:normal;
    padding-bottom: 20px;
    box-sizing: border-box;
    line-height: 22px;
    font-size: 18px;
    padding-top: 15px;
    max-width: 400px;
    height: 35%;
    overflow-y: hidden;
}

.project aside:hover{
    overflow-y: scroll;
    
}

.project aside p{
    padding: 0 15px 5px 15px;
}

.project aside span{
    border: white 2px solid;
    padding: 5px 10px;
}

.project aside .center{
    width: 100%;
    display: flex;
    justify-content: space-around;
    
}

.MadeByMe .button{
    margin: 60px auto;
    display: flex;
    align-items: center;
}


/* Phones ----------- */
@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 480px) {
    .projectHolder{
        flex-direction: column;
    }

    .project{
        width: 100%;
    
        border: white 3px solid;
    
        cursor: pointer;
        user-select: none;

        margin-bottom: 20px;
    }

    .project aside{
        max-width: 95%;
        margin: 10px 2.5%;
        overflow: scroll;
    }

    .button{
        width: 75vw;
        padding: 5%;
        font-size: 20px;
    }

}

/* Tablet (portrait) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : portrait) {
    .projectHolder{
        flex-direction: column;
    }

    .project{
        height: 600px;
        width: 100%;
    
        border: white 3px solid;
    
        cursor: pointer;
        user-select: none;

        margin-bottom: 20px;
    }

    .project aside{
        max-width: 95%;
        margin: 0 2.5%;
    }

    .button{
        width: 65vw;
        padding: 2% 5%;
        
    }
}